@import '../../../styles/settings.scss';
.container {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    
    background-color: $background-color;
  
    width: 100%;
    justify-content: center;
    height: 100%;
}

@media (max-width: 577px) {
    .root {
        flex-direction: column;
    }
}

