$base-size: 1.5rem;

$color-theme: #718aa9;
$color-font: #798283;
$color-hover: rgb(155, 169, 172);
$color-basket: #3F72AF;



$background-color: #dfdfdf;
$background-color-dark: #112D4E;

$transition: all 0.5s;